<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productview</title>
    <link rel="stylesheet" href="/bootstrap.css"> 
</head>
<body>
    <h2 class="display-4 font-weight-bold m-3"><%= product.name %></h2>
    <p>Item number: <%= product.productID %></p>
    <p>Price: $<%= product.price %></p>
    <p>Quantity Available: <%= product.quantity %></p>
    <p>Description: <%= product.description %></p>
</body>
</html>