<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/js/htmx.min.js"></script>
</head>
<body>
    <h1 class="display-4 font-weight-bold m-3">Profile</h1>
    <ul>
        <li style="display: flex; flex-direction: row;">
            <p id="firstName"><%= user.firstName %></p>
            <input name="value" type="text" value="<%= user.firstName %>"></input>
            <button hx-trigger="click" hx-put="/users/profile" hx-vars="{id:localStorage.getItem('id'), key:'firstName'}" hx-swap="outerHTML" hx-target="#firstName" hx-include="previous input">Update</button>
        </li>
        <li style="display: flex; flex-direction: row;">
            <p id="lastName"><%= user.lastName %></p>
            <input name="value" type="text" value="<%= user.lastName %>"></input>
            <button hx-trigger="click" hx-put="/users/profile" hx-vars="{id:localStorage.getItem('id'), key:'lastName'}" hx-swap="outerHTML" hx-target="#lastName" hx-include="previous input">Update</button>
        </li>
        <li style="display: flex; flex-direction: row;">
            <p id="email"><%= user.email %></p>
            <input name="value" type="email" value="<%= user.email %>"></input>
            <button hx-trigger="click" hx-put="/users/profile" hx-vars="{id:localStorage.getItem('id'), key:'email'}" hx-swap="outerHTML" hx-target="#email" hx-include="previous input">Update</button>
        </li>
        <li style="display: flex; flex-direction: row;">
            <p id="address"><%= user.address %></p>
            <input name="value" type="text" value="<%= user.address %>"></input>
            <button hx-trigger="click" hx-put="/users/profile" hx-vars="{id:localStorage.getItem('id'), key:'address'}" hx-swap="outerHTML" hx-target="#address" hx-include="previous input">Update</button>
        </li>
        <li>
            <p><%= user.apiToken %></p>
        </li>
    </ul>
    <button hx-delete="/users/profile" hx-vars="id:localStorage.getItem('id')" hx-target="body">Delete</button>
</body>
