<% products.forEach(product => { %>
    <div id="product-id-<%= product.productID %>">
        <h2><%= product.name %></h2>
        <p><%= product.productID %></p>
        <p><%= product.name %></p>
        <p><%= product.price %></p>
        <p><%= product.quantity %></p>
        <p><%= product.description %></p>
    </div>
<% }) %>
