<% products.forEach(product => { %>
    <div id="product-id-<%= product.productID %>">
        <h2 class="display-4 font-weight-bold m-3"><%= product.name %></h2>
        <p>Item number: <%= product.productID %></p>
        <p>Price: $<%= product.price %></p>
        <p>Quantity Available: <%= product.quantity %></p>
        <p>Description: <%= product.description %></p>
    </div>
<% }) %>
