<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchview</title>
    <link rel="stylesheet" href="/bootstrap.css"> 
</head>
<body>
    <h1 class="display-4 font-weight-bold m-3">searchview</h1>
    <% products.forEach(product => { %>
        <h2><%= product.name %></h2>
        <p><%= product.productID %></p>
        <p><%= product.name %></p>
        <p><%= product.price %></p>
        <p><%= product.quantity %></p>
        <p><%= product.description %></p>
    <% }) %>
</body>
</html>
